<!--
  Generated template for the MisPublicacionesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar primary>
    <ion-title>MisPublicaciones</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-item>
        <ion-card *ngFor="let pub of this._publicacion.listPublicaciones">
      <img *ngIf="pub.imagen != 'http://localhost:3000/images/'" src="{{pub.imagen}}"/>
      <ion-card-content>

        <ion-row>
          <ion-col><h3 text-wrap>{{pub.contenido}}</h3></ion-col>
          <ion-col><p text-wrap style="font-style: italic;">- {{pub.nombreUsuario}}</p></ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <button ion-button (click)="comentar(pub)" clear primary type="button"><ion-icon ios="ios-list-box" md="md-list-box"></ion-icon> Comentar</button>
          </ion-col>
          <ion-col *ngIf='pub.idUsuario == UDI'>
            <button ion-button clear color="naranja" type="button" (click)="publicacion(pub)" ><ion-icon ios="ios-options" md="md-options"></ion-icon> Editar</button>
          </ion-col>
        </ion-row>

      </ion-card-content>
    </ion-card>

  </ion-item>
</ion-content>
