<ion-tabs tabsPlacement="top" tabsLayout="icon-end">
  <ion-tab [root]="tab1Root" tabTitle="Iniciar Sesion" tabIcon="contact"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Registrarse" tabIcon="person-add"></ion-tab>
</ion-tabs>
