<!--
  Generated template for the PublicacionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>publicacion</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngIf="publicacionTemp.imagen">
      <img src="{{publicacionTemp.imagen}}" alt="imagen publicacion" />
    </ion-item>
    <ion-item>
      <h3>Creada el : {{publicacionTemp.fechaFormat}}</h3>
    </ion-item>
    <ion-item>
      <ion-label>Imagen</ion-label>
      <ion-input type="file" (change)="cargarIMG($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Contenido</ion-label>
      <ion-textarea name="contenido" [(ngModel)]="publicacionTemp.contenido"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="!publicacionTemp.AG">
      <button type="button" ion-button (click)="editar()" primary large margin>Modificar</button>
      <button type="button" ion-button (click)="eliminar()" large color="danger">Eliminar</button>
    </ion-item>
     <ion-item *ngIf="publicacionTemp.AG">
      <button type="button" ion-button (click)="agregar()" color="secundary" large margin>Agregar</button>
    </ion-item>
  </ion-list>
</ion-content>
