<ion-header primary>
  <ion-navbar>
    <ion-title text-center><h2 style="font-weight: 200">Iniciar Sesion</h2></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2 color="primary" padding>Bievenido a Twitter</h2>
  <ion-list margin>
    <ion-item>
      <ion-label floating>Nick</ion-label>
      <ion-input type="text" name="nick" [(ngModel)]="userTemp.nick"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Contraseña</ion-label>
      <ion-input type="password" name="contrasena" [(ngModel)]="userTemp.contrasena"></ion-input>
    </ion-item>
    <ion-item>
      <button type="button" (click)="autenticar()" secundary ion-button block large>Iniciar Sesion</button>
    </ion-item>
    <ion-item></ion-item>
  </ion-list>
</ion-content>
