<ion-tabs tabsPlacement="top" color="verde"  tabsLayout="icon-end">
  <ion-tab [root]="tab1Root" tabTitle="Twetts" tabIcon="book"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Mis Twetts" tabIcon="star"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Busqueda" tabIcon="search"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Perfil" tabIcon="person"></ion-tab>
</ion-tabs>
