
<ion-header>
  <ion-navbar>
    <ion-title>MiPerfil</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
	<ion-list>
		<ion-item>
			<img src="{{usuarioTemp.imagen}}" />
		</ion-item>
		<ion-item>
			<ion-label floating>Nombre</ion-label>
			<ion-input type="text" [(ngModel)]="usuarioTemp.nombre" name="nombre"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>Nick</ion-label>
			<ion-input type="text" [(ngModel)]="usuarioTemp.nick" name="nick"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Imagen</ion-label>
			<ion-input type="file" (change)="cargarIMG($event)" ></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>Contraseña</ion-label>
			<ion-input type="text" [(ngModel)]="usuarioTemp.contrasena" name="contrasena"></ion-input>
		</ion-item>
		<ion-item>
			<button ion-button type="button" (click)="modificar()" block color="naranja" >Guardar Cambios</button>
			<button ion-button type="button" (click)="cs()" block color="primary" >Cerrar Sesion</button>
		</ion-item>
	</ion-list>
</ion-content>
