
<ion-header>

  <ion-navbar>
		 <button ion-button (click)="dismiss()" clear><ion-icon name="md-close" ></ion-icon><ion-title text-center>Comentarios</ion-title></button>
  </ion-navbar>

</ion-header>

<ion-content padding>

<ion-row style="height: 10vh;margin: 0px 4px">
	<ion-col>
		<ion-item>
			<ion-label floating >Comentario</ion-label>
			<ion-input type="text" [(ngModel)]="comentarioTemp.comentario"></ion-input>
		</ion-item>
	</ion-col>
	<ion-col col-3>
		<button ion-button type="button" color="verde" (click)="agregar()">Agregar</button>
	</ion-col>
</ion-row>

<ion-row style="height: 75vh">
	<ion-item>
		<ion-card *ngFor="let comen of _comentario.listComentarios">
			<ion-card-content>
				<ion-row>
					<ion-col><h3 style="font-style: italic;">{{comen.nombreUsuario}} - </h3></ion-col>
					<ion-col col-2 *ngIf="UDI == comen.idUsuario"><button type="button" (click)="eliminar(comen.idComentario)" ion-button color="danger" clear><ion-icon name="trash" ></ion-icon></button></ion-col>
				</ion-row>
				<p text-wrap pading>{{comen.comentario}}</p>
			</ion-card-content>
		</ion-card>
	</ion-item>
</ion-row>
</ion-content>
